* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1 {
    font-size: 3.6rem;
    cursor: pointer;
}
header h3 {
    font-size: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-columna {
    min-width: 30rem;
    max-width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
}
.contenedor-columna-arriba {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.contenedor-columna-enmedio {
    display: flex;
    width: 100%;
    height: 60%;
}
.contenedor-columna-abajo {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.contenedor-arriba-izquierda,
.contenedor-arriba-derecha {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor-columna-arriba div {
    margin: 0 2rem;
}
.contenedor-enmedio-izquierda {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contenedor-enmedio-derecha {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contenedor-columna-enmedio img {
    width: 40%;
    height: 100%;
}

main a {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
}
main p {
    font-size: 0.9rem;
}

.c1-izquierda, .c3-izquierda {
    height: 33.3333%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.c2-izquierda {
    height: 33.3333%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}


.c1-derecha, .c3-derecha {
    height: 33.3333%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.c2-derecha {
    height: 33.3333%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}


.c1-izquierda a, .c3-izquierda a {
    margin-right: 1.5rem;
}
.c2-izquierda a {
    margin-left: 2.5rem;
}
.c2-izquierda p {
    margin-left: 1rem;
}

.c1-derecha a, .c3-derecha a {
    margin-left: 1.5rem;
}
.c2-derecha a {
    margin-right: 2.5rem;
}
.c2-derecha p {
    margin-right: 1rem;
}


.contenedor-abajo-izquierda,
.contenedor-abajo-derecha {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor-columna-abajo div {
    margin: 0 3.5rem;
}
.contenedor-buscador {
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;    
    border: 1px solid black;
}
.contenedor-buscador-icono button{
    height: 3rem;
    width: 4rem;
    background-image: url('https://www.pikpng.com/pngl/b/151-1513236_icono-lupa-home-11-icono-de-una-lupa.png');
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: blue;
    bottom: unset;
}
.contenedor-buscador-idioma select {
    border: none;
    height: 3rem;
    width: 3.5rem;
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor-buscador-input input {
    border: none;
    height: 3rem;
    min-width: 30rem;
}
.contenedor-idioma {
    margin-top: 1rem;
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.contenedor-idioma-lineaIzq {
    width: 20%;
    height: 0.1rem;
    background-color: rgb(119, 113, 119);;
}
.contenedor-idioma select {
    width: 50%;
    height: 3rem;
    border-radius: 1rem;
    justify-content: center;
}
.contenedor-idioma-lineaDer {
    width: 20%;
    height: 0.1rem;
    background-color: rgb(119, 113, 119);
}